@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e2e2e2;
  /* MAIN */
}
body .header-wrapper {
  background-color: #fff;
  height: 100px;
}
body .header-wrapper header {
  width: 100%;
  height: 100%;
}
body .header-wrapper header .header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
@media (max-width: 1070px) {
  body .header-wrapper header .header-content-wrapper {
    justify-content: space-between;
    margin-right: 15px;
  }
}
body .header-wrapper header .header-content-wrapper .hamburger-picture {
  transition: 1s all ease;
}
@media (max-width: 1070px) {
  body .header-wrapper header .header-content-wrapper .hamburger-picture {
    content: url(./img/menu-burger.svg);
    position: absolute;
    top: 30px;
    left: 17px;
  }
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-logo #hamburger-menu-logo__toggle {
  opacity: 0;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-logo .hamburger-menu-logo__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 17px;
  width: 57px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list {
  position: absolute;
  margin-left: -300px;
  opacity: 0;
  width: 300px;
  height: 450px;
  z-index: 5;
  background-color: #ef7f04;
  left: 0;
  top: 100px;
  border-bottom-right-radius: 3px;
  transition: 0.5s all ease;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list .hamburger-menu__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list .hamburger-menu__wrapper .hamburger-menu__item {
  padding: 20px;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list .hamburger-menu__wrapper .hamburger-menu__item:hover {
  background-color: #fff;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list .hamburger-menu__wrapper .hamburger-menu__item:hover a {
  color: #ef7f04;
}
body .header-wrapper header .header-content-wrapper .hamburger-menu-list .hamburger-menu__wrapper .hamburger-menu__item a {
  color: wheat;
  font-size: 30px;
  text-decoration: none;
}
body .header-wrapper header .header-content-wrapper .logo {
  max-width: 90px;
  max-height: 63px;
  transition: 1s all ease;
}
@media (max-width: 620px) {
  body .header-wrapper header .header-content-wrapper .logo {
    display: none;
  }
}
@media (max-width: 1070px) {
  body .header-wrapper header .header-content-wrapper .logo {
    position: absolute;
    top: 15px;
    left: 100px;
  }
}
body .header-wrapper header .header-content-wrapper .logo img {
  width: 100%;
  height: 100%;
}
body .header-wrapper header .header-content-wrapper .clicked {
  display: none;
  position: absolute;
  width: 300px;
  height: 100%;
}
body .header-wrapper header .header-content-wrapper .nav-button {
  height: 100%;
  display: flex;
  padding: 0 20px;
  cursor: pointer;
}
body .header-wrapper header .header-content-wrapper .nav-button .nav-button__item {
  height: 100%;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header-wrapper header .header-content-wrapper .nav-button .nav-button__item:hover {
  border-top: 4px solid #ef7f04;
  height: 92px;
}
body .header-wrapper header .header-content-wrapper .nav-button .nav-button__item:hover a {
  color: #ef7f04;
}
body .header-wrapper header .header-content-wrapper .nav-button .nav-button__item a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
}
@media screen and (max-width: 1070px) {
  body .header-wrapper header .header-content-wrapper .nav-button.nav-button {
    display: none;
  }
}
body .header-wrapper header .header-content-wrapper .order-button {
  display: flex;
  justify-content: space-between;
  width: 375px;
  max-height: 42px;
  cursor: pointer;
}
@media (max-width: 620px) {
  body .header-wrapper header .header-content-wrapper .order-button {
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
  }
}
body .header-wrapper header .header-content-wrapper .order-button .head-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 13px;
  line-height: 15px;
}
body .header-wrapper header .header-content-wrapper .order-button .head-buttons a {
  text-decoration: none;
  color: white;
  margin-left: 13px;
  max-height: 15px;
  min-width: 107px;
}
body .header-wrapper header .header-content-wrapper .order-button .head-buttons img {
  width: 20px;
  height: 18px;
}
@media (max-width: 620px) {
  body .header-wrapper header .header-content-wrapper .order-button .head-buttons:last-child {
    margin-top: 5px;
  }
}
body .header-wrapper header .header-content-wrapper .order-button .order-button__measure-button {
  background-color: #ef7f04;
}
body .header-wrapper header .header-content-wrapper .order-button .order-button__calculate-button {
  background-color: #3b3a63;
}
body main .call-for-order-wrapper {
  height: 560px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}
body main .call-for-order-wrapper .main-backImg {
  background-color: rgba(10, 6, 59, 0.7);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: multiply;
}
body main .call-for-order-wrapper .call-for-order-wrapper__main-back-left-img {
  flex: 7;
  background-image: url(./img/backImg1.png);
}
@media (max-width: 620px) {
  body main .call-for-order-wrapper .call-for-order-wrapper__main-back-left-img {
    height: 85%;
  }
}
@media (max-width: 900px) {
  body main .call-for-order-wrapper .call-for-order-wrapper__main-back-left-img {
    flex: 1;
  }
}
@media (max-width: 425px) {
  body main .call-for-order-wrapper .call-for-order-wrapper__main-back-left-img {
    height: 110%;
  }
}
body main .call-for-order-wrapper .call-for-order-wrapper__main-back-right-img {
  flex: 3;
  background-image: url(./img/portfolio3.png);
}
@media (max-width: 900px) {
  body main .call-for-order-wrapper .call-for-order-wrapper__main-back-right-img {
    flex: 0;
    display: none;
  }
}
body main .call-for-order {
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 70px 70px 0 70px;
}
@media (max-width: 900px) {
  body main .call-for-order {
    padding: 90px 120px 0 145px;
  }
}
@media (max-width: 620px) {
  body main .call-for-order {
    padding: 100px 0px 0 30px;
  }
}
body main .call-for-order .call-for-order__left-part {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  body main .call-for-order .call-for-order__left-part {
    flex: 1;
  }
}
@media (max-width: 1070px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__title {
    width: 95%;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__title h3 {
  color: #ef7f04;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 620px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__title h3 {
    font-size: 18px;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__title h1 {
  color: white;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
}
@media (max-width: 620px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__title h1 {
    font-size: 28px;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__benefits {
  display: flex;
  margin-top: 25px;
}
@media (max-width: 1070px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits {
    width: 95%;
  }
}
@media (max-width: 425px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits {
    flex-direction: column;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__benefits div {
  max-width: 160px;
  max-height: 150px;
}
@media (max-width: 425px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div {
    max-width: 300px;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__benefits div img {
  width: 60%;
  height: 60%;
}
@media (max-width: 1070px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 620px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 425px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div img {
    margin-top: 10px;
  }
}
body main .call-for-order .call-for-order__left-part .call-for-order__benefits div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
  margin-top: 20px;
  width: 100%;
}
@media (max-width: 620px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div p {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  body main .call-for-order .call-for-order__left-part .call-for-order__benefits div p {
    font-size: 13px;
  }
}
body main .call-for-order .call-for-order__right-part {
  flex: 4;
}
@media (max-width: 900px) {
  body main .call-for-order .call-for-order__right-part {
    flex: 0;
  }
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper {
  width: 380px;
  height: 430px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
@media (max-width: 1070px) {
  body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper {
    width: 344px;
  }
}
@media (max-width: 900px) {
  body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper {
    display: none;
  }
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__title {
  margin-bottom: 25px;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__title h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs input {
  margin-bottom: 15px;
  width: 300px;
  height: 40px;
  background: #e2e2e2;
  border-radius: 3px;
  text-indent: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
  border-color: white;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs .checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs .checkBox input {
  width: 30px;
  height: 30px;
  border-color: #e2e2e2;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs .checkBox p {
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__inputs .checkBox a {
  text-decoration: none;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__button {
  padding: 20px 40px;
  background-color: #ef7f04;
  border-radius: 3px;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper .call-for-order__right-part-padding-wrapper .call-for-order__button a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}
body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper img {
  position: absolute;
  bottom: -65px;
  left: -90px;
}
@media (max-width: 1070px) {
  body main .call-for-order .call-for-order__right-part .call-for-order__right-part-wrapper img {
    bottom: -48px;
    left: -69px;
    width: 490px;
  }
}
body main .service {
  display: grid;
  margin-top: 70px;
  align-items: center;
  justify-items: center;
  grid-template-rows: 10% 90%;
}
@media (max-width: 1070px) {
  body main .service {
    grid-template-rows: none;
  }
}
@media (max-width: 620px) {
  body main .service {
    margin-top: 0;
  }
}
@media (max-width: 425px) {
  body main .service {
    margin-top: 100px;
  }
}
body main .service .title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}
body main .service .service__part-wrapper {
  display: grid;
  margin-top: 50px;
  max-width: 1200px;
  transition: 1s all ease;
  grid-template-columns: 49% 49%;
  grid-template-rows: 50% 50%;
}
body main .service .service__part-wrapper .service__right-part .cards:last-child .cards-wrapper {
  width: 75%;
}
@media (max-width: 1070px) {
  body main .service .service__part-wrapper {
    grid-template-columns: 1fr;
    align-items: center;
    width: 55%;
  }
}
@media (max-width: 900px) {
  body main .service .service__part-wrapper {
    width: 65%;
  }
}
@media (max-width: 800px) {
  body main .service .service__part-wrapper {
    width: 75%;
  }
}
@media (max-width: 700px) {
  body main .service .service__part-wrapper {
    width: 85%;
  }
}
@media (max-width: 620px) {
  body main .service .service__part-wrapper {
    width: 90%;
  }
}
body main .service .service__part-wrapper .cards {
  width: 100%;
  height: 268px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .service .service__part-wrapper .cards .cards-wrapper {
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 55%;
}
@media (max-width: 620px) {
  body main .service .service__part-wrapper .cards .cards-wrapper {
    width: 65%;
  }
}
body main .service .service__part-wrapper .cards .cards-wrapper img {
  width: 60px;
  height: 60px;
}
body main .service .service__part-wrapper .cards .cards-wrapper h4 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2f2f51;
  width: 70%;
  height: 55px;
}
@media (max-width: 620px) {
  body main .service .service__part-wrapper .cards .cards-wrapper h4 {
    font-size: 16px;
  }
}
body main .service .service__part-wrapper .cards p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2f2f51;
  width: 50%;
  max-height: 75px;
  padding-left: 50px;
}
@media (max-width: 620px) {
  body main .service .service__part-wrapper .cards p {
    font-size: 12px;
  }
}
body main .service .service__part-wrapper .cards:nth-child(2) {
  margin-top: 10px;
}
body main .service .service__part-wrapper .service__left-part {
  flex: 1;
}
body main .service .service__part-wrapper .service__left-part .service__card1 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service1Back.png);
}
body main .service .service__part-wrapper .service__left-part .service__card3 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service3Back.png);
}
body main .service .service__part-wrapper .service__right-part {
  flex: 1;
  margin-left: 10px;
}
@media (max-width: 1070px) {
  body main .service .service__part-wrapper .service__right-part {
    margin-left: 0;
    margin-top: 10px;
  }
}
body main .service .service__part-wrapper .service__right-part .service__card2 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service2Back.png);
}
body main .service .service__part-wrapper .service__right-part .service__card4 {
  background: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service4Back.png);
}
body main .about {
  margin-top: 65px;
}
body main .about .about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .about .about__wrapper h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}
body main .about .about__wrapper .about__navigation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
body main .about .about__wrapper .about__navigation .a_wrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 620px) {
  body main .about .about__wrapper .about__navigation .a_wrapper {
    padding: 0;
  }
}
body main .about .about__wrapper .about__navigation .a_wrapper a {
  padding: 10px 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  text-decoration: none;
}
body main .about .about__wrapper .about__navigation .a_wrapper:hover a {
  padding: 12px 45px;
  background-color: #ef7f04;
  border-radius: 3px;
  color: white;
  transition: 0.4s all ease-in;
}
body main .about .about__wrapper .about__pic-wrapper {
  display: flex;
  margin-top: 35px;
  background-color: white;
  max-width: 1200px;
  border-radius: 3px;
}
@media (max-width: 1070px) {
  body main .about .about__wrapper .about__pic-wrapper {
    width: 95%;
  }
}
body main .about .about__wrapper .about__pic-wrapper .about__text {
  padding: 50px;
  flex: 1;
  display: flex;
}
@media (max-width: 620px) {
  body main .about .about__wrapper .about__pic-wrapper .about__text {
    padding: 30px;
  }
}
@media (max-width: 425px) {
  body main .about .about__wrapper .about__pic-wrapper .about__text {
    flex-direction: column;
    align-items: center;
  }
}
body main .about .about__wrapper .about__pic-wrapper .about__text img {
  width: 40%;
  height: 140px;
}
@media (max-width: 620px) {
  body main .about .about__wrapper .about__pic-wrapper .about__text img {
    width: 45%;
  }
}
@media (max-width: 426px) {
  body main .about .about__wrapper .about__pic-wrapper .about__text img {
    margin-right: 35px;
  }
}
body main .about .about__wrapper .about__pic-wrapper .about__text p {
  width: 55%;
  margin-top: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
@media (max-width: 425px) {
  body main .about .about__wrapper .about__pic-wrapper .about__text p {
    margin-top: 50px;
  }
}
body main .about .about__wrapper .about__pic-wrapper .about__pic {
  flex: 1.3;
}
@media (max-width: 900px) {
  body main .about .about__wrapper .about__pic-wrapper .about__pic {
    display: none;
  }
}
body main .about .about__wrapper .about__pic-wrapper .about__pic img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1070px) {
  body main .about .about__wrapper .about__pic-wrapper .about__pic img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body main .about .about__wrapper .about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  max-width: 1200px;
}
body main .about .about__wrapper .about__items .about__item {
  display: flex;
  align-items: center;
}
body main .about .about__wrapper .about__items .about__item img {
  width: 90px;
  height: 80px;
  align-self: baseline;
}
body main .about .about__wrapper .about__items .about__item .about__item-text {
  width: 240px;
  height: 115px;
  margin-left: 20px;
  margin-bottom: 70px;
}
body main .about .about__wrapper .about__items .about__item .about__item-text h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2f2f51;
}
body main .about .about__wrapper .about__items .about__item .about__item-text p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
body main .about .about__wrapper .about__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #ef7f04;
  font-weight: 700;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
body main .about .about__wrapper .about__button a {
  text-decoration: none;
  color: white;
  margin-left: 13px;
}
body main .about .about__wrapper .about__button img {
  width: 20px;
  height: 18px;
}
body main .portfolio-wrapper {
  background-color: #fff;
  height: 410px;
  margin-top: 27px;
  display: flex;
  justify-content: center;
}
@media (max-width: 620px) {
  body main .portfolio-wrapper {
    display: none;
  }
}
body main .portfolio-wrapper .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 70px 100px;
  width: 100%;
  max-width: 1200px;
}
body main .portfolio-wrapper .portfolio .title {
  margin-top: 40px;
}
body main .portfolio-wrapper .portfolio .title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}
body main .portfolio-wrapper .portfolio .portfolio__gallery {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body main .portfolio-wrapper .portfolio .portfolio__gallery img {
  width: 215px;
  height: 215px;
  border-radius: 3px;
  -o-object-fit: none;
     object-fit: none;
}
@media (max-width: 1070px) {
  body main .portfolio-wrapper .portfolio .portfolio__gallery img:last-child {
    display: none;
  }
}
@media (max-width: 900px) {
  body main .portfolio-wrapper .portfolio .portfolio__gallery img:first-child {
    display: none;
  }
}
body main .questions-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
body main .questions-wrapper .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  background-color: #ef7f04;
  border-radius: 3px;
}
@media (max-width: 1070px) {
  body main .questions-wrapper .questions {
    width: 95%;
  }
}
body main .questions-wrapper .questions h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-top: 40px;
}
body main .questions-wrapper .questions .accordeon-items {
  padding: 50px;
  width: 80%;
}
@media (max-width: 620px) {
  body main .questions-wrapper .questions .accordeon-items {
    width: 85%;
    padding: 50px 30px;
    margin-left: -10px;
  }
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item {
  width: 95%;
  background-color: #efefef;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  margin-top: 15px;
  border-radius: 3px;
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item summary {
  padding: 30px 20px;
}
@media (max-width: 900px) {
  body main .questions-wrapper .questions .accordeon-items .accordeon-items__item {
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  body main .questions-wrapper .questions .accordeon-items .accordeon-items__item {
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    padding: 30px 7px;
  }
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item:not([open]) > .accordeon-items__item-title ~ * {
  font-weight: 400;
  font-size: 0;
  line-height: 19px;
  background-color: #efefef;
  padding: 0;
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item[open] > .accordeon-items__item-title {
  transition: all 1s ease-out;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #efefef;
  padding: 40px;
}
@media (max-width: 900px) {
  body main .questions-wrapper .questions .accordeon-items .accordeon-items__item[open] > .accordeon-items__item-title {
    font-size: 12px;
  }
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item[open] > .accordeon-items__item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #efefef;
  padding: 30px 20px;
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item[open] .accordeon-items__item-title::after {
  transform: rotate(180deg);
  transition: all 0.8s ease;
}
@media (max-width: 620px) {
  body main .questions-wrapper .questions .accordeon-items .accordeon-items__item[open] .accordeon-items__item-title::after {
    display: none;
  }
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item:hover {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item:hover .accordeon-items__item-content {
  background: #ffffff;
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item .accordeon-items__item-title {
  cursor: pointer;
  list-style: none;
}
body main .questions-wrapper .questions .accordeon-items .accordeon-items__item .accordeon-items__item-title::after {
  content: "⥥";
  font-size: 30px;
  float: right;
}
@media (max-width: 426px) {
  body main .questions-wrapper .questions .accordeon-items .accordeon-items__item .accordeon-items__item-title::after {
    display: none;
  }
}
body .footer-wrapper {
  background-color: #fff;
  height: 150px;
  background-color: #2f2f51;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
body .footer-wrapper footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
@media (max-width: 1070px) {
  body .footer-wrapper footer {
    width: 95%;
  }
}
@media (max-width: 900px) {
  body .footer-wrapper footer {
    flex-direction: column;
  }
}
body .footer-wrapper footer .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
body .footer-wrapper footer .logo img {
  width: 50px;
  height: 40px;
}
body .footer-wrapper footer .logo p {
  color: white;
}
body .footer-wrapper footer .confidential {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
}
@media (max-width: 900px) {
  body .footer-wrapper footer .confidential {
    margin-top: 10px;
  }
}
@media (max-width: 620px) {
  body .footer-wrapper footer .confidential {
    flex-direction: column;
  }
}
body .footer-wrapper footer .confidential a {
  text-decoration: none;
  color: white;
}
@media (max-width: 620px) {
  body .footer-wrapper footer .confidential a {
    margin-top: 5px;
  }
}/*# sourceMappingURL=index.css.map */